option_settings:
  aws:elb:listener:${PORT_TOMCAT}:
    ListenerProtocol: HTTP
    InstanceProtocol: HTTP
    InstancePort: ${PORT_TOMCAT}

Resources:
  port${PORT_TOMCAT}SecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: ${PORT_TOMCAT}
      FromPort: ${PORT_TOMCAT}
      SourceSecurityGroupName: { "Fn::GetAtt": ["AWSEBLoadBalancer", "SourceSecurityGroup.GroupName"] }
      SourceSecurityGroupOwnerId: { "Fn::GetAtt": ["AWSEBLoadBalancer", "SourceSecurityGroup.OwnerAlias"] }
